<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Transação de venda - Injetor de transações</title>
      <!-- Favicon Cielo -->
      <link rel="icon" type="image/png" href="/images/favicon.ico" />
      <!-- Bootstrap Core CSS -->
      <link href="/bootstrap/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
      <!-- MetisMenu CSS -->
      <link href="/bootstrap/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
      <!-- Custom CSS -->
      <link href="/bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
      <!-- Morris Charts CSS -->
      <link href="/bootstrap/vendor/morrisjs/morris.css" rel="stylesheet">
      <!-- Custom Fonts -->
      <link href="/bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <div id="wrapper">
         <!-- Navigation -->
         <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="/">Injetor de transações</a>
               <img src="/images/logo-icon.jpg" class="rounded float-left" width="50" height="50">
            </div>
            <!-- /.navbar-header -->
            <!-- inicio menu header -->
            <ul class="nav navbar-top-links navbar-right">
               <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                     <li><a href="/"><i class="fa fa-gear fa-fw"></i> Configurações</a>
                     </li>
                     <li class="divider"></li>
                     <li><a href="/"><i class="fa fa-sign-out fa-fw"></i> Sair</a>
                     </li>
                  </ul>
                  <!-- /.dropdown-user -->
               </li>
               <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
               <div class="sidebar-nav navbar-collapse">
                  <ul class="nav" id="side-menu">
                  <li>
                     <a href="/"><i class="fa fa-star fa-fw"></i> Home</a>
                  </li>
                  <li>
                     <a href="#"><i class="fa fa-send-o fa-fw"></i> Injetar<span class="fa arrow"></span></a>
                     <ul class="nav nav-second-level">
                        <li>
                           <a href="/venda">Transação de venda</a>
                        </li>
                        <li>
                           <a href="/rejeicao">Rejeição de captura</a>
                        </li>
                        <li>
                           <a href="/product">Inclusão de produtos</a>
                        </li>
                        <li>
                           <a href="/chargeback">Chargeback</a>
                        </li>
                     </ul>
                     <!-- /.nav-second-level -->
                  </li>
               </div>
               <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
         </nav>
         <div id="page-wrapper">
            <div class="row">
               <div class="col-lg-12">
                  <h3 class="page-header">Transação de venda</h3>
               </div>
               <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
               <div class="col-lg-12">
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        Incluir - Transação de venda
                     </div>
                     <div class="panel-body">
                        <div class="row">
                           <div class="col-lg-6">
                              <form role="form">
                                 <div class="form-group">
                                    <label class="text-danger">(*)</label>
                                    <label>Ambiente:</label>
                                    <label class="checkbox-inline pull-right">
                                       <input class="chb-ambiente" type="checkbox">Manter dado?
                                       </label>
                                    <select id="ambiente" class="form-control">
                                       <option>Escolha uma opção...</option>
                                       <option>HML</option>
                                       <option>TI</option>
                                    </select>
                                 </div>
                                 <div class="form-group">
                                    <label class="text-danger">(*)</label>
                                    <label>Estabelecimento comercial:</label>
                                    <label class="checkbox-inline pull-right">
                                    <input class="chb-ec" type="checkbox">Manter dado?
                                    </label>
                                    <input id="ec" class="form-control" placeholder="Digite o estabelecimento comercial">
                                 </div>
                                 <div class="form-group">
                                    <label class="text-danger">(*)</label>
                                    <label>Bandeira:</label>
                                    <label class="checkbox-inline pull-right">
                                    <input class="chb-bandeira" type="checkbox">Manter dado?
                                    </label>
                                    <select id="bandeira" class="form-control" onchange="tipos(this.options[this.selectedIndex].text);">
                                       <option>Escolha uma opção...</option>
                                       <option>AMEX</option>
                                       <option>BANESCARD</option>
                                       <option>CABAL</option>
                                       <option>CREDSYSTEM</option>
                                       <option>DINERS</option>
                                       <option>ELO</option>
                                       <option>HIPERCARD</option>
                                       <option>JCB</option>
                                       <option>MASTERCARD</option>
                                       <option>SOROCRED</option>
                                       <option>VISA</option>
                                    </select>
                                 </div>
                                 <div class="form-group">
                                    <label>Número do cartão:</label>
                                    <input id="cartao" class="form-control" placeholder="Digite o número do cartão">
                                 </div>
                                 <div class="form-group">
                                    <label class="text-danger">(*)</label>
                                    <label>Tipo de pagamento:</label>
                                    <label class="checkbox-inline pull-right">
                                       <input class="chb-tipo" type="checkbox">Manter dado?
                                       </label>
                                    <select id="tipo" class="form-control" disabled="true" onchange="troca(this.options[this.selectedIndex].text);">
                                       <option>Escolha uma bandeira...</option>
                                    </select>
                                 </div>
                                 <div class="form-group">
                                    <label>Parcelas:</label>
                                    <input id="parcelas" required="required" name="numbers" pattern="[0-9]+$" class="form-control" placeholder="Digite a quantidade de parcelas">
                                 </div>
                              </form>
                           </div>
                           <!-- /.col-lg-6 (nested) -->
                           <div class="col-lg-6">
                              <form role="form">
                                 <div class="form-group">
                                    <label>Loja:</label>
                                    <select class="form-control" id="loja">
                                       <option>Selecione uma opção...</option>
                                       <option>POS</option>
                                       <option>MOBILE</option>
                                       <option>E-COMMERCE</option>
                                       <option>TEF</option>
                                    </select>
                                 </div>
                                 <div class="form-group">
                                    <label class="text-danger">(*)</label>
                                    <label>Valor da transação:</label>
                                    <label class="checkbox-inline pull-right">
                                    <input class="chb-valor" type="checkbox">Manter dado?
                                    </label>
                                    <input id="valor" class="form-control" placeholder="Digite o valor da transação">
                                 </div>
                                 <div class="form-group">
                                    <label>Terminal:</label>
                                    <input id="terminal" class="form-control" placeholder="Digite o terminal">
                                 </div>
                                 <div class="form-group">
                                    <label class="text-danger">(*)</label>
                                    <label>Quantidade de transações:</label>
                                    <label class="checkbox-inline pull-right">
                                    <input class="chb-quantidade" type="checkbox">Manter dado?
                                    </label>
                                    <input id="quantidade" class="form-control" placeholder="Digite a quantidade de transações">
                                 </div>
                                 <div id="alerta" class="alert alert-danger">
                                    <label id="mensagem">Todos os campos com (*) são obrigatórios.</label>
                                 </div>
                                 <div class="form-group">
                                    <label>Para injetar, clique no botão "Injetar" abaixo:</label>
                                    <br>
                                    <button type="button" class="btn btn-primary" onClick="injetar();" >Injetar</button>
                                    <button type="button" class="btn btn-secondary" onClick="limpar();">Limpar</button>
                                 </div>
                              </form>
                           </div>
                           <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                     </div>
                     <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
               </div>
               <!-- /.col-lg-12 -->
            </div>
         </div>
         <!-- /#page-wrapper -->
      </div>
      <!-- /#wrapper -->

      <!-- jQuery -->
      <script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
      <!-- Bootstrap Core JavaScript -->
      <script src="/bootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>
      <!-- Metis Menu Plugin JavaScript -->
      <script src="/bootstrap/vendor/metisMenu/metisMenu.min.js"></script>
      <!-- Custom Theme JavaScript -->
      <script src="/bootstrap/dist/js/sb-admin-2.js"></script>
      <!-- Custom Money Mask JavaScript -->
      <script src="/javascripts/money.js"></script>
      <!-- Custom Parcelas Disabled JavaScript -->
      <script src="/javascripts/parcelas.js"></script>
      <!-- Custom Clear Fields JavaScript -->
      <script src="/javascripts/clear.js"></script>
      <!-- Custom Service JavaScript -->
      <script src="/javascripts/service.js"></script>
      <!-- Custom Numbers JavaScript -->
      <script src="/javascripts/number.js"></script>
      <!-- Custom Suggestion Number Card JavaScript -->
      <script src="/javascripts/suggestions.js"></script>
      
   </body>
</html>